<div class="row">
    <div class="col-lg-6">
        <div class="col-lg-12">
            <h2>
                {{producto.nombre}}
            </h2>
        </div>
        <div class="col-lg-12">
            <h3>{{producto.descripcion}}</h3>
        </div>
<<<<<<< HEAD
        <div class="col-lg-12">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">add_circle</i> cantidad:
                </span>
                <div class="form-line">
                    <input type="number" class="form-control" [(ngModel)]="cantidad" name="cantidad"
                        placeholder="cantidad">
=======
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
    <!-- Right Sidebar -->

    <!-- #END# Right Sidebar -->
</section>



<body class="productos">


    <div class="body m-t-35  m-l-35  m-r-35   ">

        <div class="header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="col-lg-12">
                        <h2>
                            {{producto.nombre}}
                        </h2>
                    </div>
                    <div class="col-lg-12">
                        <h3>{{producto.descripcion}}</h3>
                    </div>
                    <div class="col-lg-12">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">add_circle</i> cantidad:
                            </span>
                            <div class="form-line">
                                <input type="number" class="form-control" [(ngModel)]="cantidad" name="cantidad"
                                min="0"   placeholder="cantidad">
                            </div>
                        </div>
                        <button class="btn btn-block btn-lg bg-pink waves-effect" (click)="cambiarStock()">cantidad</button>
                    </div>

                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-4  "><img src="{{producto.URL}}" style="width: 270px;">
>>>>>>> parent of 3fd306a... listooo
                </div>
            </div>
            <button class="btn btn-block btn-lg bg-pink waves-effect" (click)="cambiarStock()">cantidad</button>
        </div>

    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-4  "><img src="{{producto.URL}}" style="width: 270px;">
    </div>
</div>




<div class="body  m-t-35  m-l-35  m-r-35 ">
    <h3>Productos: Movimientos</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>fecha</th>
                <th>Local</th>
                <th>operacion</th>
                <th>stock</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movimiento of movimientos">
                <td>{{movimiento.fecha}}</td>
                <td>{{movimiento.local}}</td>
                <td>{{movimiento.operacion}}</td>
                <td>{{movimiento.stock}}</td>
                <td>{{movimiento.usuario}}</td>
            </tr>

        </tbody>
    </table>
</div>