<section>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
      <div class="image">
        <img src="{{usuario.foto}}" width="48" height="48" alt="User">
      </div>
      <div class="info-container">
        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{usuario.nombre}}</div>
        <div class="email">{{usuario.email}}</div>
        <div class="btn-group user-helper-dropdown">
          <i class="material-icons" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">keyboard_arrow_down</i>
          <ul class="dropdown-menu pull-right">
            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i
                  class="material-icons">person</i>Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i
                  class="material-icons">group</i>Followers</a></li>
            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i
                  class="material-icons">shopping_cart</i>Sales</a></li>
            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i
                  class="material-icons">favorite</i>Likes</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i class="material-icons">input</i>Sign
                Out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
      <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 440px;">
        <ul class="list" style="overflow: hidden; width: auto; height: 440px;">
          <li class="header">Menú</li>
          <li>
            <a [routerLink]="['/Principal']" class=" waves-effect waves-block">
              <i class="material-icons">home</i>
              <span>Principal</span>
            </a>
          </li>
       
          <li *ngIf="(perfil == 'supervisor' || perfil == 'Admin')">
            <a [routerLink]="['/Listado-Usuarios']" class=" waves-effect waves-block">
              <i class="material-icons">layers</i>
              <span>Usuarios</span>
            </a>
          </li>

          <li>
              <a [routerLink]="['/Registro']" *ngIf="(perfil == 'supervisor' || perfil == 'Admin')" class=" waves-effect waves-block">
                <i class="material-icons">layers</i>
                <span>Registrar Usuario</span>
              </a>
          </li>

          <li>
            <a [routerLink]="['/Registro/cliente']" *ngIf="(perfil == 'supervisor' || perfil == 'Admin')" class=" waves-effect waves-block">
              <i class="material-icons">layers</i>
              <span>Registrar Cliente</span>
            </a>
        </li>
         
          <li>
              <a [routerLink]="['/Listado-Productos']" class=" waves-effect waves-block">
                <i class="material-icons">layers</i>
                <span>Productos</span>
              </a>
            </li>
            <li>
                <a [routerLink]="['/Producto']" class=" waves-effect waves-block">
                  <i class="material-icons">layers</i>
                  <span>Subir producto</span>
                </a>
            </li>
        </ul>
      </div>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
      <div class="copyright">
        © 2016 - 2017 <a href="javascript:void(0);">AdminBSB - Material Design</a>.
      </div>
      <div class="version">
        <b>Version: </b> 1.0.5
      </div>
    </div>
    <!-- #Footer -->
  </aside>
  <!-- #END# Left Sidebar -->
  <!-- Right Sidebar -->
 
  <!-- #END# Right Sidebar -->
</section>





<body class="productos">
  <app-locales-listado></app-locales-listado>
</body>