<section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="{{usuario.foto}}" width="48" height="48" alt="User">
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{usuario.nombre}}
                    </div>
                    <div class="email">{{usuario.email}}</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i
                                        class="material-icons">person</i>Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i
                                        class="material-icons">group</i>Followers</a></li>
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i
                                        class="material-icons">shopping_cart</i>Sales</a></li>
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i
                                        class="material-icons">favorite</i>Likes</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i
                                        class="material-icons">input</i>Sign
                                    Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 440px;">
                    <ul class="list" style="overflow: hidden; width: auto; height: 440px;">
                        <li class="header">Menú</li>
                        <li>
                            <a [routerLink]="['/Principal']" class=" waves-effect waves-block">
                                <i class="material-icons">home</i>
                                <span>Principal</span>
                            </a>
                        </li>
    
                        <li *ngIf="(perfil == 'supervisor' || perfil == 'Admin')">
                            <a [routerLink]="['/Listado-Usuarios']" class=" waves-effect waves-block">
                                <i class="material-icons">layers</i>
                                <span>Usuarios</span>
                            </a>
                        </li>
    
                        <li *ngIf="(perfil == 'supervisor' || perfil == 'Admin')">
                            <a [routerLink]="['/Registro']" class=" waves-effect waves-block">
                                <i class="material-icons">layers</i>
                                <span>Registrar Usuario</span>
                            </a>
                        </li>
    
                        <li>
                            <a [routerLink]="['/Listado-Productos']" class=" waves-effect waves-block">
                                <i class="material-icons">layers</i>
                                <span>Productos</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/Producto']" class=" waves-effect waves-block">
                                <i class="material-icons">layers</i>
                                <span>Subir producto</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    © 2016 - 2017 <a href="javascript:void(0);">AdminBSB - Material Design</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.5
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
    
        <!-- #END# Right Sidebar -->
    </section>
    

<body class="signup-page">


    <div class="card">
        <div class="body">

            <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                <ngx-dropzone-label>
                    <div>
                        <i class="material-icons">camera</i>Subir una Foto

                    </div>
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                    [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
            </div>
            <form id="sign_up" method="POST">

                <div class="msg">Registro de nuevo miembros</div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i> nombre:
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" [(ngModel)]="nuevoUsuario.nombre" name="namesurname"
                            placeholder="Name Surname" required autofocus>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">email</i> email:
                    </span>
                    <div class="form-line">
                        <input type="email" class="form-control" [(ngModel)]="nuevoUsuario.email" name="email"
                            placeholder="Email Address" required>
                    </div>
                </div>

                <!--perfil-->
                <div class="input-group mb-0" style="margin-bottom: 0; padding-bottom: 0">
                    <div class="row">
                        <div class="col-xs-3 m-0 p-0">
                            <span class="input-group-addon">
                                <i class="material-icons"
                                    style="font-size:25px; vertical-align: middle;">person</i>Perfil:</span>
                        </div>
                        <div class="col-xs-9">
                            <select  id="perfil" [(ngModel)]="nuevoUsuario.perfil" name="perfil"
                                class="form-control show-tick"
                                style="border: #00c3ff solid 1px; margin-bottom: 0; padding-bottom: 0" tabindex="-98">
                                <option name="perfilMod" value="Admin">Administrador</option>
                                <option name="perfilMod" value="Empleado">empleado</option>
                               
                            </select>
                        </div>
                    </div>
                </div>
                <!-- fin perfil-->


                <!--sucursal-->
                <div class="input-group mb-0" style="margin-bottom: 0; padding-bottom: 0">
                    <div class="row">
                        <div class="col-xs-3 m-0 p-0">
                            <span class="input-group-addon">
                                <i class="material-icons"
                                    style="font-size:25px; vertical-align: middle;">person</i>Sucursal:</span>
                        </div>

                       
                        <div class="col-xs-9">
                            <select  id="sucursal" [(ngModel)]="nuevoUsuario.sucursal"
                                name="sucursal" class="form-control show-tick"
                                style="border: #00c3ff solid 1px; margin-bottom: 0; padding-bottom: 0" tabindex="-98">
                                <option  name="sucursal" *ngFor="let local of locales" [value]="local.id">{{ local.id }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- fin sucursal-->
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i> clave:
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" [(ngModel)]="nuevoUsuario.clave" name="password"
                            minlength="6" placeholder="Password" required>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i> clave:
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="confirm" [(ngModel)]="nuevoUsuario.clave"
                            minlength="6" placeholder="Confirm Password" required>
                    </div>
                </div>


                <div class="form-group">
                    <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
                    <label for="terms">Estoy de acuerdo con <a href="javascript:void(0);">los términos y
                            referencias</a>.</label>
                </div>

                <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit"
                    (click)="registrarUsuario(nuevoUsuario)">Registrase</button>

                <div class="m-t-25 m-b--5 align-center">
                    <a href="sign-in.html">You already have a membership?</a>
                </div>
            </form>
        </div>

    </div>