<section>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
      <div class="image">
        <img src="{{usuario.foto}}" width="48" height="48" alt="User">
      </div>
      <div class="info-container">
        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{usuario.nombre}}</div>
        <div class="email">{{usuario.email}}</div>
        <div class="btn-group user-helper-dropdown">
          <i class="material-icons" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">keyboard_arrow_down</i>
          <ul class="dropdown-menu pull-right">
            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i
                  class="material-icons">person</i>Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i
                  class="material-icons">group</i>Followers</a></li>
            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i
                  class="material-icons">shopping_cart</i>Sales</a></li>
            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i
                  class="material-icons">favorite</i>Likes</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i class="material-icons">input</i>Sign
                Out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
      <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 440px;">
        <ul class="list" style="overflow: hidden; width: auto; height: 440px;">
          <li class="header">Menú</li>
          <li>
            <a [routerLink]="['/Principal']" class=" waves-effect waves-block">
              <i class="material-icons">home</i>
              <span>Principal</span>
            </a>
          </li>

          <li *ngIf="(perfil == 'supervisor' || perfil == 'Admin')">
            <a [routerLink]="['/Listado-Usuarios']" class=" waves-effect waves-block">
              <i class="material-icons">layers</i>
              <span>Usuarios</span>
            </a>
          </li>

          <li>
            <a [routerLink]="['/Registro']" class=" waves-effect waves-block"
              *ngIf="(perfil == 'supervisor' || perfil == 'Admin')">
              <i class="material-icons">layers</i>
              <span>Registrar Usuario</span>
            </a>
          </li>

          <li>
            <a [routerLink]="['/Listado-Productos']" class=" waves-effect waves-block">
              <i class="material-icons">layers</i>
              <span>Productos</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/Producto']" class=" waves-effect waves-block">
              <i class="material-icons">layers</i>
              <span>Subir producto</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
      <div class="copyright">
        © 2016 - 2017 <a href="javascript:void(0);">AdminBSB - Material Design</a>.
      </div>
      <div class="version">
        <b>Version: </b> 1.0.5
      </div>
    </div>
    <!-- #Footer -->
  </aside>
  <!-- #END# Left Sidebar -->
  <!-- Right Sidebar -->

  <!-- #END# Right Sidebar -->
</section>


<section class="content">
  <div class="container-fluid">
    <form novalidate>
    <h2>Iniciar Pedido</h2>
   <!-- Mesa Nro:<imput type="text" id="mesa" [(ngModel)]="mesa"></imput>
    Cliente Nombre:<imput type="text" id="NombreCliente" [(ngModel)]="pedido.cliente.nombre"></imput>
    -->
    <button type="button" class="btn btn-default waves-effect m-r-20" (click)="IniciarPedido()">
      Iniciar Pedido
    </button>
    </form>

  </div>
  <div class="container-fluid">

    <form novalidate #form="ngForm">



      <div class="block-header" style="position:fixed;">
        <h2>MODALS</h2>
        <h4><span class="label label-success">Entradas</span> <span class="label label-success">Platos</span> <span
            class="label label-success">Bebidas</span></h4>
        <div class="row">
          <div class="col-lg-1">
            Sucursal:
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <select class="form-control" name="sucursal" [(ngModel)]="sucursal" style="border: 1px solid blue">
                <option *ngFor="let item of filtro" [value]="item.sucursal">{{ item.sucursal }}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-1">
            Nombre:
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <select class="form-control" name="nombre" [(ngModel)]="nombre" style="border: 1px solid blue">
                <option *ngFor="let producto of productos" [value]="producto.nombre">{{ producto.nombre }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Size Example -->
      <div class="row clearfix" style="background-color:#fff;">

        <div class="col-lg-8">Menu

          <h3>Productos</h3>






          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Detalle</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of productos | tableFilter: form.value">

                <td> <img src="{{producto.URL}}" style="width: 50px;"></td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.costo}}</td>
                <td>{{producto.descripcion}}</td>
                <td><button type="button" class="btn btn-default waves-effect m-r-20" data-toggle="modal"
                    [attr.data-target]="'#' +producto.codigo"> <i class="material-icons">add_circle</i></button></td>

                <div class="modal fade" id="{{producto.codigo}}" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <header>

                        <figure>
                          <img src="{{producto.URL}}" style="height: 200px;">
                          
                        </figure>
                        <div class="info " data-productmax="">
                          <h2>{{producto.nombre}}</h2>
                          <p></p>
                        </div>
                        <div class="price " data-price="190.00">
                          <span class="">${{producto.costo}}</span>
                        </div>
                        <div class="limitProductNote" style="display: none;"> Ya alcanzaste el límite de compra de este
                          producto.</div>
                        <div class="limitProductDetails" style="display: none;"> Has alcanzado el límite de unidades
                          para
                          este
                          local.</div>
                        <div class="productNote" style="display: none;"> Con esta unidad alcanzarías el límite para este
                          producto.</div>
                        <div class="productNoteOne" style="display: none;"> Con esta unidad alcanzarías el límite para
                          este
                          local.</div>
                        <div class="productNoteSuperLimit" style="display: none;"> Con estas unidades superas el limite
                          para
                          este local.</div>
                      </header>
                      <footer>
                        <div id="footerOpen">
                          <textarea id="" placeholder="Agregar aclaraciones..."
                            data-auto="prod_modal_comments"></textarea>
                          <div class="qty">
                            <strong>Cantidad</strong>
                            <div class="dropdown">
                              <select data-auto="prod_modal_amount" enabled=""  [(ngModel)]="producto.cantidad" [ngModelOptions]="{standalone: true}">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>

                                <option value="31">31</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                                <option value="35">35</option>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                                <option value="45">45</option>
                                <option value="46">46</option>
                                <option value="47">47</option>
                                <option value="48">48</option>
                                <option value="49">49</option>
                                <option value="50">50</option>
                                <option value="51">51</option>
                                <option value="52">52</option>
                                <option value="53">53</option>
                                <option value="54">54</option>
                                <option value="55">55</option>
                                <option value="56">56</option>
                                <option value="57">57</option>
                                <option value="58">58</option>
                                <option value="59">59</option>
                                <option value="60">60</option>
                                <option value="61">61</option>
                                <option value="62">62</option>
                                <option value="63">63</option>
                                <option value="64">64</option>
                                <option value="65">65</option>
                                <option value="66">66</option>
                                <option value="67">67</option>
                                <option value="68">68</option>
                                <option value="69">69</option>
                                <option value="70">70</option>
                                <option value="71">71</option>
                                <option value="72">72</option>
                                <option value="73">73</option>
                                <option value="74">74</option>
                                <option value="75">75</option>
                                <option value="76">76</option>
                                <option value="77">77</option>
                                <option value="78">78</option>
                                <option value="79">79</option>
                                <option value="80">80</option>
                                <option value="81">81</option>
                                <option value="82">82</option>
                                <option value="83">83</option>
                                <option value="84">84</option>
                                <option value="85">85</option>
                                <option value="86">86</option>
                                <option value="87">87</option>
                                <option value="88">88</option>
                                <option value="89">89</option>
                                <option value="90">90</option>
                                <option value="91">91</option>
                                <option value="92">92</option>
                                <option value="93">93</option>
                                <option value="94">94</option>
                                <option value="95">95</option>
                                <option value="96">96</option>
                                <option value="97">97</option>
                                <option value="98">98</option>
                                <option value="99">99</option>
                              </select>
                            </div>
                          </div>
                          <a class="button" (click)="agregar(producto)" data-edit="Modificar (<i>$190</i>)"
                            data-order="1" data-currency-symbol="$" data-decimal-separator=","
                            data-grouping-separator="." data-auto="prod_modal_add">Agregar a
                            mi
                            pedido (<i>${{producto.costo}}</i>)</a>
                        </div>
                        <div id="footerClosed" class="hidden">
                          <div class="note">El restaurante está cerrado</div>
                        </div>
                      </footer>
                    </div>
                  </div>

                </div>
              </tr>

            </tbody>
          </table>




        </div>
        <div class="col-lg-4">Detalle Pedido

          <table class="table-condensed">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Precio Un</th>
                <th>Cantidad</th>
                <th>Monto</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let productoPedido of productosPedidos">

                <td>{{productoPedido.nombre}}</td>
                <td>{{productoPedido.costo}}</td>
                <td>{{productoPedido.cantidad}}</td>
                <td>{{productoPedido.costo}}</td>
                <td><button type="button" class="btn btn-default waves-effect m-r-20" (click)="quitarProducto(productoPedido)"> <i class="material-icons">del_circle</i></button></td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-default waves-effect m-r-20" (click)="RealizarPedido()">
            Confirmar Pedido ${{costoTotal}}
          </button>
        </div>
      </div>

    </form>


  </div>




</section>